.login-form,
.signup-form {
    padding: 20px;
    width: 300px;
}

.login-form-header,
.signup-form-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.login-errors,
.signup-errors {
    background-color: #fdb7ad;
    border: 1px solid #fa604a;
    border-radius: 4px;
    margin-bottom: 24px;
    padding: 10px;
}

.login-errors p,
.signup-errors p {
    margin: 0;
}

.login-errors ul,
.signup-errors ul {
    margin-bottom: 0;
}

.login-form-email input,
.login-form-password input,
.signup-form-name input,
.signup-form-email input,
.signup-form-password input,
.signup-form-confirm input {
    border: 1px solid rgba(34, 34, 34, 0.15);
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 5px;
    width: 290px;
}

.login-form-buttons,
.signup-form-button {
    display: flex;
    justify-content: space-evenly;
}

.login-form-buttons button,
.signup-form-button button {
    background-color: #f64900;
    border: 0;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
}

.login-form-buttons button:hover,
.signup-form-button button:hover {
    background-color: #e6573e;
}
